.form-entry {
  width: 100%;
  padding: 20px 30px;
  appearance: none;
  border: solid 3px transparent;
  cursor: text;
  display: block;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.form-entry:hover {
  border: solid 3px #4869fe;
}

.submit {
  display: block;
  width: 100%;
  max-width: 200px;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  background-color: #4869fe;
  color: #fff;
  margin: 15px auto;

  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;
}
